<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="materialize/css/materialize.min.css" rel="stylesheet">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    <title>Add Post</title>

    <script>
        $(document).ready(function () {

            $("#save").click(function () {
                var author = $('#author').val(),
                    title = $('#title').val(),
                    year = $('#year').val();
                var json = {"author": author, "title": title, "year": year};
                console.log(json);
                $.ajax({
                    type: "POST",
                    url: "/book/",
                    data: JSON.stringify(json),
                    success: function (data) {
                        console.log(data);
                    },
                    dataType: "application/json",
                    contentType: "application/json"
                });
            });
        });

    </script>
</head>
<body>
<div class="navbar-">
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a class="page-title">BLOGGG</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="waves-effect waves-light btn" href="/index">
                            Main page
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn" href="booklist">
                            All books
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn" href="addbook">
                            New book
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container">
    <div class="row">
        <div class="col s12">
            <form>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="author" type="text" required>
                        <label for="author">Author</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="title" type="text" required>
                        <label for="title">Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="year" type="text" required>
                        <label for="year">Year</label>
                    </div>
                </div>
                <a class="waves-effect waves-light btn" th:id="save">Save</a>
            </form>
        </div>
    </div>
</div>


<div class="footer-copyright">
    <div class="container">
        © 2019 Dmitry Provodnikov
        <a class="grey-text text-lighten-4 right" href="http://github.com/provodmi">Git</a>
    </div>
</div>
</body>
</html>