<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="materialize/css/materialize.min.css" rel="stylesheet">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

    <script>
        function deleteBook(id) {

            $.ajax({
                type: "DELETE",
                url: "/book/"+id,
                success: function () {
                    console.log( "delete " + id );
                    var info = $("#tr"+id);
                    info.remove();
                    M.toast({html: 'Book id ='
                            + id
                            + " and content = '"
                            + info[0].getElementsByTagName("td")[1].textContent
                            + "' was deleted" });
                }
            });
            location.reload(true);
        }
        $(document).ready(function () {

        });

    </script>

    <title>Post List</title>
</head>
<body>
<div class="navbar-fixed">
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a class="page-title">BLOGGG</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="waves-effect waves-light btn"  href="/index">
                            Main page
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn"  href="booklist">
                            All books
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn" href="addbook">
                            New book
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br/><br/>
<div class="container">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Title</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody th:each ="book : ${books}">
        <th:each var="book" items="${books}">
            <tr>
                <td th:utext="${book.getId()}">...</td>
                <td th:utext="${book.getAuthor()}">...</td>
                <td th:utext="${book.getTitle()}">...</td>
                <td th:utext="${book.getYear()}">...</td>
                <td >
                    <a class="waves-effect waves-light btn" id="btn_all" th:onclick="'deleteBook(\''+ ${book.getId()}+'\');'">DELETE</a>
                </td>
            </tr>
        </th:each>
        </tbody>
    </table>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2019 Dmitry Provodnikov
        <a class="grey-text text-lighten-4 right" href="http://github.com/provodmi">Git</a>
    </div>
</div>
</body>
</html>