<div xmlns:th="http://www.thymeleaf.org" class="navbar-fixed">
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a class="page-title">Blog</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="waves-effect waves-light btn" href="/index">
                            Main page
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn" href="booklist">
                            All books
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn" href="addbook">
                            New book
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
