<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="materialize/css/materialize.min.css" rel="stylesheet">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    <title>Welcome</title>
</head>
<body>
<th:block th:include="/header"></th:block>

<div class="container">
    <h1>Welcome</h1>
    <h2 th:utext="${message}">..!..</h2>
</div>

<th:block th:include="/footer"></th:block>
</body>

</html>